* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #FDA5CF;
}

/* Fonte no estilo manuscrito */
.agbalumo-regular {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Section */
section {
    background-image: url('./imagens/background.png');
    background-size: contain;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section p {
    color: white;
    margin-bottom: 2%;
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FDFFFC;
    margin: 10% 0 2%;
    padding: 2% 0;
    width: 70%;
    height: auto;
    border-radius: 15px;
    box-shadow: rgb(249, 103, 178) 0px 4px 12px;
}

.container h1 {
    font-family: 'Agbalumo', system-ui;
    font-weight: 600;
    color: rgb(249, 103, 178);
    font-size: 4em;
    margin-bottom: 4%;
}

/* Div box */
.box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px 40px;
    padding-bottom: 2%;
}

/* Div dos Cookies */
.cookie {
    background-color: #F667A5;
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
     box-shadow: rgb(248, 135, 193) 0px 4px 12px;
     transition: 0.3s;
}

.cookie img {
    width: 70%;
}

.cookie h3 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.cookie:hover {
    transform: scale(1.2);
    transition: 0.3s;
    background-color: #FDA5CF;
}

/* Estilização do botão de adicionar no carrinho */
.cookie button {
    padding: 8px 16px;            
    border-radius: 7px;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;            
    margin-top: 20px;            
    background: #FFB6C1;
    color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.cookie button:hover {
    background: #FF69B4;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.3);
}

/* Estilização do modal */

/* Modal geral */
.modal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FDA5CF;
    width: 570px;
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
    gap: 20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cartModal {
    padding: 0; 
    border: none; 
    border-radius: 20px;
    box-shadow: rgb(248, 135, 193) 0px 2px 8px;
    position: fixed;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Deixa o fundo mais escuro quando abrir o modal */
dialog::backdrop {
    background-color: rgba(0,0,0,0.5);
}

/* Card dos cookies */
.cardCookie img {
    width: 80%; 
    margin-bottom: 10px;
}

.cardCookie p {
    color: white;
    text-align: center;
    margin: 5px 0;
    font-weight: 550;
    font-size: medium;
}

.cardCookie {
    background-color: #F667A5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 15px;
    width: 180px; 
    box-shadow: rgb(249, 103, 178) 0px 4px 12px
}

/* Card das informações adicionais */

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    max-width: 300px;
}

.infos h3 {
    font-family: 'Agbalumo', system-ui;
    font-weight: 600;
    color: white;
    font-size: 30px;
    text-align: center;
}

.infos button {
    width: 200px;
    background: linear-gradient(to right, #F91FA7, #FFD6C5);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 18px 0;
    font-size: medium;
    transition: transform 0.2s;
    margin-bottom: 10%;
    box-shadow: rgb(255, 132, 195) 0px 4px 12px;
    transition: 0.3s;
}

.infos button:hover {
    transform: scale(1.08);
}



